@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Custom styles for accordion */
  .accordion-checkbox {
    display: none; /* Hide the checkbox */
  }

  .accordion-checkbox:checked + .accordion-content {
    /*max-height: 200px; /* Max height when expanded */
    max-height: 800px;
    padding: 0.5rem; /* Padding when expanded */
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
  }
  /* Add this in your main CSS file */
}
